*{
    margin:0;
    padding:0;
}
body{
    font-family:crimson text,Georgia,serif;
    background-color:#574B31;
}
.container{
    width:600px;
    margin:auto;
  
}
.container h1,h4{
    text-align:center;
}
.crawfish-img{
    width:100%;
}
.recipe-list{
    text-align:center;
    list-style:none;
}
a{
    text-decoration:none;
    font-size:25px;
    color:#F2E4D2;
}