@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
*{
    margin:0;
    padding:0;
    --black:#0D0D0D;
    --brown:#262424;
    --lightgold:#F2E2C4;
    --darkgold:#F2CA99;
}
body{
    background-color:var(--black);
    color:var(--darkgold);
}
h4{
 padding:0.3125rem 0rem 0.3125rem 0rem;
}
.page-title{
    text-align:center;
    padding:1.875rem;
    font-family:'Cinzel', serif;
}
.image{
    width:17.5rem;
    height:17.5rem;
    background-size:cover;
    border-radius:50%;
    margin:0 auto;
    border:0.1875rem solid var(--lightgold);
}
.image-link{
    color:var(--lightgold);
    text-decoration:none;
}
.title-link{
    color:var(--darkgold);
    text-decoration:none;
}
.velvet{
    background-image:url(images/baiq-daling-TjJUX7pyUqI-unsplash.jpg);
}
.shortcake{
    background-image:url(images/blake-yuto-rBmLu0s5z2s-unsplash.jpg);
}
.redbeans{
    background-image:url(images/dragne-marius-EdzsUFqHbaY-unsplash.jpg);
}
.gumbo{
    background-image:url(images/roni-herdyanzah-vrX8M4Plu8U-unsplash.jpg);
}
.crawfish{
    background-image:url(images/vino-li-TqOEGdRNowY-unsplash.jpg);
}
.recipe-title{
    text-align:center;
    padding-top:1.25rem;
    font-family: 'Cinzel', serif;
}
.ingredients,.instructions{
    background-color:var(--brown);
    color:var(--lightgold);
    padding:1.25rem;
    margin:1.25rem;
    font-family: 'Lato', sans-serif;
    border-radius:0.1875rem;
}
.description{
    font-family: 'Lato', sans-serif;
    color:var(--lightgold);
    text-align:center;
}
.ingredients li,.instructions li{
    padding:0.3125rem;
    font-size:0.875rem;
    list-style:none;
}
.index-divider{
    width:31.25rem;
    margin:1.875rem auto;
    opacity:0.50;
}
footer{
    display: flex;
    justify-content: center;
    margin:1.25rem;
}
.credits{
    text-align:center;
}
.credits a{
    color:var(--darkgold);
}
/*--- Desktop --- */
@media(min-width:600px){
    .description{
        width:31.25rem;
        text-align: center;
        margin: 0 auto;
    }
    .ingredients,.instructions{
        margin:1.25rem auto;
        width:34.375rem;
    }
    .recipe-container{
        display:flex;
        justify-content:center;
        margin:1.25rem;
        padding:1.25rem;
        gap:1.25rem;
    }
    .recipe-title{
        font-size:16px;
    }
    .velvet,.gumbo,.shortcake,.redbeans{
        width:12.5rem;
        height:12.5rem;
        margin:0.625rem auto;
    }
}