@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
*{
    margin:0;
    padding:0;
    --black:#0D0D0D;
    --brown:#262424;
    --lightgold:#F2E2C4;
    --darkgold:#F2CA99;
}
body{
    background-color:var(--black);
    color:var(--darkgold);
}
h4{
    padding-top:5px;
    padding-bottom:5px
}
.page-title{
    text-align:center;
    padding:30px;
    font-family:'Cinzel', serif;
}
.image{
    width:280px;
    height:280px;
    background-size:cover;
    border-radius:50%;
    margin:0 auto;
    border:3px solid var(--lightgold);
}
.velvet{
    background-image:url(images/baiq-daling-TjJUX7pyUqI-unsplash.jpg);
}
.shortcake{
    background-image:url(images/blake-yuto-rBmLu0s5z2s-unsplash.jpg);
}
.redbeans{
    background-image:url(images/dragne-marius-EdzsUFqHbaY-unsplash.jpg);
}
.gumbo{
    background-image:url(images/roni-herdyanzah-vrX8M4Plu8U-unsplash.jpg)
}
.recipe-title{
    text-align:center;
    padding-top:20px;
    font-family: 'Cinzel', serif;
}
.ingredients,.instructions{
    background-color:var(--brown);
    color:var(--lightgold);
    padding:20px;
    margin:20px;
    font-family: 'Lato', sans-serif;
    border-radius:3px;
}
.description{
    font-family: 'Lato', sans-serif;
    color:var(--lightgold);
    text-align:center;
}
.ingredients li,.instructions li{
    padding:5px;
    font-size:14px;
    list-style:none;
}
